<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="header" class="header-container">
    <h1>simple-demo</h1>
    <div style="text-align: right;">
        <a href="/" >Index</a>
        <div
             th:if="${session['USER_DETAIL_PRINCIPAL_KEY'] != null}"
             th:with="userName=${session['USER_DETAIL_PRINCIPAL_KEY'].userName}">
            <a href="/api/home/home-tmlf">Home</a>
            <span th:text="${userName}"></span>
            <a href="/api/login/logout" >logout</a>
        </div>

        <div class="error"
             th:if="${session['LAST_ERROR_KEY'] != null}"
             th:with="errorMsg=${session['LAST_ERROR_KEY'].message}">
            <span id="errorSpan" th:text="${errorMsg}"></span>
        </div>
<!--        <div sec:authorize="isAnonymous()">-->
<!--            <a th:href="@{/}">Login</a>-->
<!--        </div>-->
<!--        <div sec:authorize="isAuthenticated()">-->
<!--            <span sec:authorize="hasRole('ROLE_ADMIN')">Admin</span>-->
<!--            <span sec:authentication="principal.username"></span>-->
<!--            <a th:href="@{/api/logout}">Logout</a>-->
<!--        </div>-->
    </div>
    <hr/>
</div>
</body>
</html>